<div>

    <h2>Employee List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th colspan="2">Delete/Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td><a routerLink={{emp.employeeId}}>{{emp.employeeId}}</a></td>
                <td>{{emp.employeeName | uppercase | shorten:12}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.joinDate | date}}</td>
                <td><button (click)="deleteEmployee(emp.employeeId)" class="btn btn-danger">Delete</button></td>
                <td><button (click)="fetchEmployeeForUpdate(emp)" class="btn btn-info">Update</button></td>
            </tr>
        </tbody>
    </table>
    
</div>

<div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="employee">
    <app-update-employee [employee]="employee"></app-update-employee>
</div>



