<h2>Enter User Details</h2>
<form (submit)="login(userForm.value)" #userForm="ngForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" ngModel type="text" name="username" id="username" >
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" ngModel type="password" name="password" id="password">
    </div>

    <button class="btn btn-success">Log In</button>

</form>